body {
    background-color: #f2f2f2;
    color: #222222;
}

nav {
    background-color: #dddddd;
}

.body {
    padding-top: 1rem;
}

.card-body {
    background-color: #f2f2f2;
    color: #222222;
}

a {
    text-decoration: none !important;
}

body {
    font-family: 'Roboto', sans-serif;
}

.editLink {
    color: #222222;
}

.userImg {
    object-fit: cover;
}