<!DOCTYPE htm>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<title th:text="${collection.getName()}"></title>

<head th:replace="~{partials.html :: head}"></head>


<body>
    <nav th:replace="~{partials.html :: navbar}"></nav>

    <section class="body">
        <div class="container d-flex flex-column justify-content-center align-items-center">
            <h1 class="text-center"><span th:text="${collection.getName()}"></span> <a
                    th:href="@{/edit-collection/{id}(id=${collection.getId()})}"><i
                        class="fa-solid fa-pen-to-square editLink"></i></a>
            </h1>

            <h3><span th:text="${collection.getDescription()}"></span></h3>
            <div class="row justify-content-center align-content-start w-75">
                <hr class="mt-2 mb-2">
                <h2 class="text-center">Containers</h2>
                <div class="card p-0 m-2" style="width: 18rem;">
                    <a th:href="@{/create-container/{id}(id=${collection.getId()})}">
                        <div class="card-body">
                            <h2 class="card-text">Create a Container</h2>
                        </div>
                    </a>
                </div>

                <th:block th:if="${collection.getContainers().size()} == 0">
                    <h2>Sorry no conainters yet!</h2>
                </th:block>
                <th:block th:each="container : ${collection.getContainers()}">
                    <div class="card p-0 m-2">
                        <a th:href="@{/container/{id}(id=${container.getId()})}">
                            <img th:src="${container.getImageUrl()}" class="card-img-top userImg col-8"
                                alt="Container Image">
                            <div class="card-body rounded-bottom-2">
                                <p th:text="${container.getName()}" class="card-text"></p>
                            </div>
                        </a>
                    </div>
                </th:block>
                <hr class="mt-2 mb-2">
                <h2 class="text-center">Items</h2>
                <!-- Search bar -->
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                  </div>
                <!-- Dropdown button for sort -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-filter"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{/collection/{id}/date-asc(id=${collection.getId()})}">Date Added Ascending</a></li>
                        <li><a class="dropdown-item" th:href="@{/collection/{id}/date-desc(id=${collection.getId()})}">Date Added Descending</a></li>
                        <li><a class="dropdown-item" th:href="@{/collection/{id}/name-asc(id=${collection.getId()})}">Name Ascending</a></li>
                        <li><a class="dropdown-item" th:href="@{/collection/{id}/name-des(id=${collection.getId()})}">Name Descending</a></li>
                        <li><a class="dropdown-item" th:href="@{/collection/{id}/quantity-asc(id=${collection.getId()})}">Quantity Ascending</a></li>
                        <li><a class="dropdown-item" th:href="@{/collection/{id}/quantity-des(id=${collection.getId()})}">Quantity Descending</a></li>
                    </ul>
                </div>
                <th:block th:each="item : ${items}">
                    <div class="card p-0 m-2">
                        <a th:href="@{/item/{id}(id=${item.getId()})}">
                            <img th:src="${item.getImageUrl()}" class="card-img-top userImg col-8" alt="Item Image">
                            <div class="card-body rounded-bottom-2">
                                <p th:text="${item.getName()}" class="card-text"></p>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
    </section>

</body>

</html>