<!DOCTYPE htm>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <title th:text="${container.getName()}"></title>
    <head th:replace="~{partials.html :: head}"></head>


<body>
    <nav th:replace="~{partials.html :: navbar}" ></nav>

    <section class="body">
        <div class="container d-flex flex-column justify-content-center align-items-center">
            <h5><a th:text="${container.getCollection().getName()}" th:href="@{/collection/{id}(id=${container.getCollection().getId()})}"></a> <i class="fa-solid fa-chevron-right"></i> <a th:text="${container.getName()}" th:href="@{/container/{id}(id=${container.getId()})}"></a></h5>
            <h1><span th:text="${container.getName()}"></span><a
                th:href="@{/edit-container/{id}(id=${container.getId()})}"> <i
                    class="fa-solid fa-pen-to-square editLink"></i></a></h1>
            <h3><span th:text="${container.getDescription()}"></span></h3>
            <div class="row justify-content-center align-content-start w-75">
                <hr>
                <h2>Items</h2>
                <div class="card p-0 m-2" style="width: 18rem;">
                    <a th:href="@{/create-item/{id}(id=${container.getId()})}">
                        <div class="card-body">
                            <h2 class="card-text">Create an Item</h2>
                        </div>
                    </a>
                </div>
                <th:block th:if="${container.getItems().size()} == 0">
                    <h2>Sorry no items yet!</h2>
                </th:block>
                <th:block th:each="item : ${container.getItems()}">
                    <div class="card p-0 m-2" style="width: 18rem;">
                        <a th:href="@{/item/{id}(id=${item.getId()})}">
                            <img th:src="${item.getImageUrl()}" class="card-img-top" alt="...">
                            <div class="card-body rounded-bottom-2">
                                <p th:text="${item.getName()}" class="card-text"></p>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
    </section>

</body>

</html>