<!DOCTYPE htm>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <title>Edit Container</title>
    <head th:replace="~{partials.html :: head}"></head>


<body>

    <nav th:replace="~{partials.html :: navbar}" ></nav>

    <section class="body">
        <div class="container h-100 d-flex justify-content-center align-items-center">
            <div class="row justify-content-center align-items-center w-75 h-75">
                <h1>Edit Container</h1>
                <form th:action="@{/edit-container/{id}(id=${container.getId()})}" th:method="post" th:object="${container}" id="containerForm">
                    <div class="mb-3">
                        <label for="name" class="form-label">Container Name</label>
                        <input th:field="*{name}" th:value="${container.getName()}" type="text" class="form-control" id="name" aria-describedby="nameHelp">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input th:field="*{description}" th:value="${container.getDescription()}" type="text" class="form-control" id="description" aria-describedby="descriptionHelp">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
    </section>

</body>

</html>