<!DOCTYPE htm>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<title th:text="${item.getName()}"></title>

<head th:replace="~{partials.html :: head}"></head>


<body>
    <nav th:replace="~{partials.html :: navbar}"></nav>

    <section class="body">
        <div class="row d-flex flex-column justify-content-center align-items-center">
            <img th:src="${item.getImageUrl()}" class="col-lg-4 col-sm-10 rounded-2 m-1" alt="">
            <h1 class="col-lg-4 col-sm-10"><span th:text="${item.getName()}"></span></h1>
            <h3 class="col-lg-4 col-sm-10"><span th:text="${item.getDescription()}"></span></h3>
            <div class="d-flex flex-row row">
                <th:block th:each="tag : ${item.getTags()}">
                    <span th:text="${tag.getName()}" class="badge rounded-pill text-bg-primary col-1"></span>
                </th:block>
            </div>
        </div>
    </section>

</body>

</html>