<!DOCTYPE htm>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<title th:text="${item.getName()}"></title>

<head th:replace="~{partials.html :: head}"></head>


<body>
    <nav th:replace="~{partials.html :: navbar}"></nav>

    <section class="body">
        <div class="row d-flex flex-column justify-content-center align-items-center">
            <h5><a th:text="${item.getContainer().getCollection().getName()}"
                    th:href="@{/collection/{id}(id=${item.getContainer().getCollection().getId()})}"></a> <i
                    class="fa-solid fa-chevron-right"></i> <a th:text="${item.getContainer().getName()}"
                    th:href="@{/container/{id}(id=${item.getContainer().getId()})}"></a> <i
                    class="fa-solid fa-chevron-right"></i> <a th:text="${item.getName()}"
                    th:href="@{/item/{id}(id=${item.getId()})}"></a></h5>
            <div class="col-lg-4 col-sm-10 rounded-2 border border-2 row flex-column align-items-center p-0">
                <img th:src="${item.getImageUrl()}" class="col-12 rounded-top p-0" alt="Item Image">
                <h1 class="col-12"><span th:text="${item.getName()}"></span> <a
                        th:href="@{/edit-item/{id}(id=${item.getId()})}"><i
                            class="fa-solid fa-pen-to-square editLink"></i></a></h1>
                <h3 class="col-12"><span th:text="${item.getDescription()}"></span></h3>
                <div class="d-flex flex-row row justify-content-center flex-wrap">
                    <th:block th:each="tag : ${item.getTags()}">
                        <span th:text="${tag.getName()}" class="badge rounded-pill text-bg-primary m-1 tag"> </span>
                    </th:block>
                </div>
            </div>
        </div>
    </section>

</body>

</html>