<!DOCTYPE htm>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <title>Username's Collections</title>
<head th:replace="~{partials.html :: head}"></head>

<body>
    <nav th:replace="~{partials.html :: navbar}"></nav>

    <section class="body">
        <div class="container d-flex flex-column justify-content-center align-items-center">
            <h1>Collections</h1>
            <div class="row justify-content-center align-content-start w-75">
                <th:block th:if="${collections.size()} == 0">
                    <div class="d-flex h-25 w-75 border border-primary mt-3">
                        <h3>No collections yet!</h3>
                    </div>
                </th:block>
                <th:block th:each="collection : ${collections}">
                    <div class="card p-0 m-2">
                        <a th:href="@{/collection/{id}(id=${collection.getId()})}">
                            <img th:src="${collection.getImageUrl()}" class="card-img-top userImg col-8" alt="">
                            <div class="card-body rounded-bottom-2 row m-0 border border-1">
                                <h5 th:text="${collection.getName()}" class="card-title col-8"></h5>
                                <p th:text="${collection.getContainers().size()}" class="card-title col-2"></p>
                                <p th:text="${collection.getItems().size()}" class="card-title col-2"></p>
                            </div>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
    </section>

</body>

</html>